body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 5px 0;
}

.country {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.country-name {
  margin-top: 0;
}

.country-languages__list {
  margin: 5px 0;
}

.js-input {
  min-width: 500px;
  min-height: 40px;
}

.country-image__flag {
  display: block;
  max-width: 300px;
  /* min-height: 200px; */
  margin-left: 50px;
}
